# --- Web Framework & Server ---
fastapi==0.110.0
uvicorn==0.27.1
python-multipart==0.0.9

# --- AI & RAG Engine ---
langchain==0.1.12
# langchain-openai==0.0.8
# langchain-community==0.0.28
# openai==1.13.3
# chromadb==0.4.24
# tiktoken==0.6.0
# pypdf==4.1.0

# --- Database & Security ---
sqlalchemy==2.0.28
alembic==1.13.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-dotenv==1.0.1

# --- Utility ---
pydantic==2.6.3
pydantic-settings==2.2.1
requests==2.31.0